
@{
    var id = MediaApiVM.MediaContentList.Find(x => x.IsTop)?.Id;
    string listUrl = "/portal/media/list";
}

<style>
    .media-main{
        width:auto;
    }
    .media-row {
        height: 40px;
    }

    .media-icon {
        font-size: 25px;
    }

        .media-icon.layui-icon-home {
            font-size: 30px;
            line-height: 30px;
            /*  margin-left: 10px; */
        }

    .layui-card {
        /*         border-style:solid;
                border-width:1px;
                border-color: #1d99f3; */
        background-color: ghostwhite;
        height: 105px;
        border-radius:10px;
    }

        .layui-card .layui-card-body .media-folder-name {
            overflow: hidden;
            text-overflow: ellipsis;
        }

    .media-icon.media-icon-folder {
        color: #1d99f3;
    }

    .layui-card-body .more-line-ellipsis {
        text-decoration: underline;
    }

    .play-btn-submit {
        cursor: pointer;
        border: none;
        background: none;
        text-decoration: underline;
        outline: none;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #mediaDirList{
        margin-bottom:50px;
    }
</style>

<script>
    function getMediaFolderById(id) {
        $.get('@listUrl', { Id: id }, function (data) {
            $('#mediaDirList').html(data);
        }, 'html');
    }

</script>

<div class="media-main">
    <div class="media-row layui-row">
        <div class="layui-col-xs3 layui-col-sm3">
            <a class="layui-btn layui-btn-primary layui-border-blue" onclick="getMediaFolderById('@id');"><i class="media-icon layui-icon layui-icon-template-1"></i></a>
        </div>
    </div>
    <div id="mediaDirList">
    </div>
</div>

<script>
    getMediaFolderById('@id');
</script>