@model string
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewData["title"]</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" />
</head>
<body>
    <p>
        <button onclick="window.close();">關閉</button>
    </p>
    <h3>
        Error:
    </h3>
    <p>
        @Model
    </p>

</body>
</html>