@model BMSHMedia.ViewModel.SRSVMs.SRSOpenAPIVM
@{
    string playUrl = null;
    string hlsUrl = null;
    try
    {
        playUrl = Model.GetPlayUrl();
        hlsUrl = Model.GetHLSUrl();
    }
    catch (Exception ex)
    {
        <p>@ex.Message</p>
    }
}

<script src="~/portal/mpegts.js"></script>

<div class="row mx-1 mb-3">
    <div class="card ">
        <div class="card-body text-primary">
            直播時間: 逢星期四、六<br />
            晚上7:30 - 晚上9:00 (放香例外)
        </div>
    </div>
</div>

<div style="margin:auto;text-align:center;max-height:600px;margin-bottom:30px;">
    <video id="livePlayer" autoplay controls width="350" ></video>
</div>
@* <div style="text-align:center">
    <button class="layui-btn layui-btn-primary layui-border" onclick="window.close();">關閉</button>
</div> *@

<script>
    (function () {
        var videoElement = document.getElementById('livePlayer');

        if (!mpegts.isSupported()) {

            if (videoElement.canPlayType('application/vnd.apple.mpegurl')) {
                videoElement.src = '@hlsUrl';
                return;
            }

            alert('not support.');
            return;
        }

        if (mpegts.getFeatureList().mseLivePlayback) {            
            var player = mpegts.createPlayer({
                type: 'mse',  // could also be mpegts, m2ts, flv
                isLive: true,
                url: '@playUrl'
            });
            player.attachMediaElement(videoElement);
            player.load();
            //player.play();
        }
    })();
</script>

