
<div style="padding:50px;">
    <wt:row items-per-row="ItemsPerRowEnum.Four">
        <wt:linkbutton target="ButtonTargetEnum.Layer" text="直播Key"
                       window-title="LiveKey" window-width="600" window-height="400"
                       url="/manage/srs/LiveKey" />

        <wt:linkbutton target="ButtonTargetEnum.Layer" text="OPenAPI"
                       window-title="OPenAPI" window-width="600" window-height="400"
                       url="/manage/srs/OPenAPI" />
    </wt:row>
</div>
