
<div style="padding:50px;">
    <wt:row items-per-row="ItemsPerRowEnum.Six">
        <wt:linkbutton target="ButtonTargetEnum.Layer" text="直播發佈Url"
                       window-title="直播發佈Url" window-width="800" window-height="400"
                       url="/manage/srs/PublishUrl" />

        <wt:linkbutton target="ButtonTargetEnum.Layer" text="OPenAPI"
                       window-title="OPenAPI" window-width="800" window-height="400"
                       url="/manage/srs/OPenAPI" />
    </wt:row>
</div>
