
<div style="padding:50px;">
    <wt:linkbutton target="ButtonTargetEnum.Layer" text="直播發佈Url"
                   window-title="直播發佈Url" window-width="800" window-height="400"
                   url="/manage/srs/PublishUrl" />
    <hr />
    <wt:linkbutton target="ButtonTargetEnum.Layer" text="OPenAPI"
                   window-title="OPenAPI" window-width="800" window-height="400"
                   url="/manage/srs/OPenAPI" />
</div>
