<style>
    
</style>

<script>
    function scanSubFolder(path) {

        if (path == undefined) { path = ''; }

        let url

        // if (window.location.pathname == '/') {
        //     url = window.location.hostname + '/?path=' + path;
        // } else {
        //     url =window.location.protocol+'//'+ window.location.hostname + ":" + window.location.port + window.location.pathname + '?path=' + path;
        // }
        url = window.location.protocol + '//' + window.location.hostname + ":" + window.location.port + window.location.pathname + 'media/list/?path=' + path;

        $.get(url, { path: path }, function (data) {
            $('#mediaFileList').html(data);
        }, 'html');
    }

    scanSubFolder();

</script>

<div id="mediaFileList">
</div>



