@page "/"
@using BMSHMedia.WebClientCommon.Activity;
@inject BMSHMedia.WebClient.Services.ApiCallerService ApiCaller;

<PageTitle>Home</PageTitle>

@foreach (var item in PostList)
{
    <div>
        @item.Title<br />
        @item.Text
    </div>
}
<Pagination Alignment="Alignment.Center" PageCount="@PageCount" OnPageLinkClick="@OnPageClick"></Pagination>

@code {
    private List<ActivityPost> PostList = new();

    private int PageIndex { get; set; }
    private int PageCount { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var response = await ApiCaller.HttpClient.GetAsync("/api/activitypost/postlist/1");
        response.EnsureSuccessStatusCode();

        var result = await response.Content.ReadFromJsonAsync<ActivityPostApiResult>(JsonSerializerOptionHelper.GetOption());
        PageCount = result.PageCount;
        PostList = result.PostList;

        await base.OnInitializedAsync();
    }

    private async Task OnPageClick(int pageIndex)
    {
        var response = await ApiCaller.HttpClient.GetAsync("/api/activitypost/postlist/" + pageIndex);
        response.EnsureSuccessStatusCode();
        var result = await response.Content.ReadFromJsonAsync<ActivityPostApiResult>(JsonSerializerOptionHelper.GetOption());
        PageCount = result.PageCount;
        PostList = result.PostList;

        StateHasChanged();
    }
}