@model BMSHMedia.ViewModel.BaseFormVMs.BaseFormVM
@inject IStringLocalizer<Program> Localizer;

<script src="~/formbuilder/jquery-ui.min.js"></script>
<script src="~/formbuilder/form-builder.min.js"></script>

<wt:form vm="@Model" >
<wt:row items-per-row="ItemsPerRowEnum.One">
<wt:textbox field="Entity.FormName" />
<wt:hidden field="Entity.FormData" id="formData" />
</wt:row>
    <wt:row align="AlignEnum.Right">
        <wt:submitbutton  click="saveForm()"/>
        <wt:closebutton />
    </wt:row>
</wt:form>

<div id="formbuilder" style="padding:50px;">
</div>

<script>
    // var options = {
    //     i18n: {
    //         locale: 'zh-TW',
    //             location: 'http://localhost:30002/formbuilder'
    //         //extension: '.lang'
    //         //override: {
    //         //    'en-US': {...}
    //         //}
    //     }
    // };

    var fb;
    jQuery($ => {
        fb = $('#formbuilder').formBuilder();


    });

    function saveForm() {
      
        fb.actions.save();
        $('#formData').val(fb.actions.getData('json', true))
        return true;
    }
</script>