@model BMSHMedia.ViewModel.BaseFormVMs.BaseFormVM
@{
    string formRenderId = "fb" + Guid.NewGuid().ToString("N");
}

<script src="~/custom/formbuilder/form-render.min.js"></script>

<div style="padding:50px;">
    <div>
        <wt:display field="Entity.FormName" />
    </div>
    <hr />
    <div id="@formRenderId" style="border-style:dotted;padding:5px;">
    </div>
</div>


<script>
    jQuery(function ($) {
        $('#@formRenderId').formRender({
            dataType: 'json',
            formData: @Html.Raw(Model.Entity.FormData),
        });
    });
</script>