@using BMSHMedia.Common.Services
@model BMSHMedia.ViewModel.ActivityPostVMs.ActivityPostVM

@{
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
    var post = Model.Entity;
    var list = Model.Entity.PostAttachList;
}

<style>
    .post {
        max-width: 768px;
    }

    @@media screen and (max-width:600px){
        iframe {
            max-width:380px;
        }
    }
</style>

<div class="m-auto mt-2 post">
    <h3 class="card-title">@post.Title</h3>
    <hr />
    <div>
        @Html.Raw(post.Text)
    </div>
    <br />
    @foreach (var item in list)
    {
        <div class="my-3 text-center">
            <img src="@WtmFrameworkApiHelper.GetFileUrl(item.FileId.ToString())"/>
        </div>
    }
</div>

