@using BMSHMedia.Common.Services
@model BMSHMedia.ViewModel.ActivityPostVMs.ActivityPostVM
@inject IStringLocalizer<Program> Localizer;
@{
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
    var post = Model.Entity;
    var list = Model.Entity.PostAttachList;
}

<style>
    .post {
        max-width: 768px;
    }
</style>

<div class="m-auto post">
    <div class="card mt-3">
        <div class="card-body">
            <h3 class="card-title">@post.Title</h3>
            <p class="card-text">@Html.Raw(post.Text)</p>
        </div>
    </div>

    @foreach (var item in list)
    {
        <div class="my-3 text-center">
            <img src="@WtmFrameworkApiHelper.GetFileUrl(item.FileId.ToString())"/>
        </div>
    }
</div>

