@model BMSHMedia.ViewModel.ActivityPostVMs.ActivityPostVM
@inject IStringLocalizer<Program> Localizer;


<link href="~/manage/activitypost.css" rel="stylesheet" />
<div class="activity-post">
    <wt:form vm="@Model">
        <wt:row items-per-row="ItemsPerRowEnum.One">
            <wt:textbox field="Entity.Title" />
        </wt:row>
        <wt:row items-per-row="ItemsPerRowEnum.One">
            <wt:ueditor field="Entity.Text" height="600" />
        </wt:row>
        <wt:hidden field="Entity.ID" />
        <wt:row align="AlignEnum.Right">
            <wt:submitbutton />
            <wt:closebutton />
        </wt:row>
    </wt:form>
</div>
