@using X.PagedList;
@using BMSHMedia.ViewModel.ActivityPostVMs;
@using X.PagedList.Mvc.Core
@model IPagedList<ActivityPost_View>
@{
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}

<div>
    <img src="~/portal/images/logo1.jpg" />
</div>
<hr />
<div class="row mx-1 mb-3">
    <div class="card ">
        <div class="card-body text-primary">
            活動消息
        </div>
    </div>
</div>
<div id="postList">
    @await Html.PartialAsync("postlist2", Model)
</div>
<script src="~/jquery.unobtrusive-ajax.js"></script>
