@model BMSHMedia.ViewModel.ActivityPostVMs.ActivityPostVM

@{
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
    var post = Model.Entity;
    var list = Model.Entity.PostAttachList;
}

<style>
    img {
        max-height: 800px;
    }

</style>

<div class="m-auto">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">@post.Title</h3>
            <p class="card-text">@Html.Raw(post.Text)</p>
        </div>
    </div>

    @foreach (var item in list)
    {
        <div class="m-3">
            <img src="@WtmFrameworkApiHelper.GetFileUrl(item.FileId)" />
        </div>
    }
</div>