
<div style="margin-bottom:30px;">
    <img src="~/custom/portal/images/logo1.jpg" />
</div>
<div>
    <h2 class="card-title">緣起</h2>
    <hr />
    <p class="card-text fs-5 mb-2">
        佛教愍生講堂緣起愍生法師一生說法無間，圓寂之前仍為大眾宣講楞嚴、金剛等經，說法音容，聞法情懷，歷歷難忘，於是一群熱衷聞法，敬仰法師的信眾，遂發起成立講堂，紀念師恩。
    </p>
    <hr />
    <h3 class="card-text">成立：</h3>
    <p class="card-text fs-6 m-4">本會於一九九三年七月中旬發起籌備，同年八月底正式註冊為非牟利佛教慈善團體，並蒙香港政府豁免稅項。</p>

    <h3 class="card-text">宗旨：</h3>
    <p class="card-text fs-6 m-4">秉承法師一生鞠躬盡瘁，為法忘驅的無畏精神。 積極弘法利生，護持三寶。 致力佛化教育及慈濟工作。 倡導人生佛教，提昇宗教情操。</p>

    <h3 class="card-text">展望：</h3>
    <p class="card-text fs-6 m-4">編輯出版法師遺著。整理發行講經及開示的錄音帶。舉辦各項有益身心活動。引導信徒認識佛教，走向正信之道。舉辦經論導讀班，使有志者，深入經藏。辦齋戒、佛七等活動，使信徒體驗修行生活，淨化身心。結大眾力量，積極推動法輪，使法雨遍洒人間。</p>

</div>