<style>
    h1, h2 {
        margin: 20px 0;
    }

    iframe{
        width:100%;
    }
</style>

<h1>聯絡資料</h1>
<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3692.2728884228427!2d113.92876905219046!3d22.267650431580773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3401586d36d79c43%3A0x7897ef351329160!2z5p2x5raM576F5ryi5a-6!5e0!3m2!1szh-TW!2shk!4v1716541785603!5m2!1szh-TW!2shk" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div class="h2">
    <i class="fa fa-home" aria-hidden="true"></i> <span>東涌石門甲村羅漢寺</span>
</div>

<div class="h2">
    <i class="fa fa-phone-square" aria-hidden="true"></i> <span>2808 2373</span>
</div>

<div class="h2">
    <i class="fa fa-envelope" aria-hidden="true"></i> <span>info@buddhistmansanghall.hk</span>
</div>

