<div>
    <p>
        <img src="~/custom/portal/images/lhm_3.jpg" />
    </p>
    <h2>羅漢寺</h2>
    <p>
        羅漢寺位於東涌石門甲村，處於山腰上的羅漢寺環境清幽，給予人舒適祥和之感。寺山門面向東涌港口，由紅黃綠三種顏色所組成，威勢盡顯又不致讓人生畏。
        整個羅漢寺內的建築有大雄寶殿、觀音殿、地藏殿 、羅漢泉和羅漢洞，各具特色，散發出宗教文化氣息，讓人大開眼界。當中羅漢洞是一個天然嚴洞，洞中溫度冬暖夏涼。內裏供奉著十八尊金色羅漢與觀音象，各有特色，栩栩如生。
        羅漢寺亦種有不同的植物花果，例如石榴、木棉花、山茶花等，環境脫俗清淨，讓到訪者的煩惱一掃而空，絕對是一個洗滌煩囂 的好地方。
    </p>
    <hr />
    <p>
        <img src="~/custom/portal/images/lhm_0.jpg" />
    </p>
    
    <h3>大雄寶殿</h3>
    <p>
        是全寺的主體，高三丈六尺，佔地寬闊，巍峨壯觀，遠在對面的青山山腰、屯門，都會望見它金碧輝煌的雄姿，屹立在鳳凰山的半空中。大雄寶殿的一對石獅，恬靜而嚴肅的盤臥著，神聖而如意地守護這莊嚴的聖地。 
        殿內高而闊，釋迦、彌陀、藥師三如來端坐大殿中央，使人一見就意境開朗，身心清涼，頓息凡心而生恭敬心。左側供奉著韋陀菩薩，戎裝英姿，手擎寶杵。而菩薩可知入鄉隨俗，既東來護法，就穿上一套中國式的盔甲，顯得神態威武。
        大殿右側供奉伽藍菩薩，單鳳眼，臥蠶眉，五綹長鬚，挾提青龍刀，煞是威風。 站在大雄寶殿前面的紅丹墀，以前放眼望去便是一片汪洋大海，而遠近山峰星羅棋佈，就像是專為朝禮羅漢寺而存在的。它們靜靜的佇立在那裏，為佛、菩薩作護衛。
    </p>
    
    <p>
        <img src="~/custom/portal/images/lhm_1.jpg" />
    </p>
    <hr />
    <h3>觀音殿</h3> 
    <div class="row">
        <div class="col-4">
            <p>
                觀音殿就在大殿後面，上書「普門示現」。而觀音菩薩手執楊枝淨瓶，慈眼視眾生；凝神傾聽世間種種呼喚。而善財、龍女隨侍在側。
            </p>
        </div>
        <div class="col-8">
            <p>
                <img src="~/custom/portal/images/lhm_5.jpg" />
            </p>
        </div>
    </div>
    <hr />
    <h3>羅漢石雕</h3>
    <p>
        <img src="~/custom/portal/images/lhm_4.jpg" />
    </p>
</div>