

<div style="margin-top:50px;">
    <div class="card mb-3" style="">
        <div class="row g-0">
            <div class="col-md-4 m-auto">
                <img src="~/portal/images/yantsz.jpg" style="width:290px;height:420px;" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">現任主持 - 演慈法師</h3>
                    <p class="fs-3 mb-2">
                        演慈法師歷任香港佛教聯合會第三十六屆董事會至第五十六屆董事會董事、常務董事等職，自第五十七屆起擔任此會秘書長至今。法師生於馬來西亞，早年親近佛教高僧竺摩長老，為馬來西亞佛學院第一屆深造班畢業生，曾在佛學院任教兩年，其後來港追隨佛教大德愍生法師研習經教，並依止愍生法師座下出家，曾任中學教師，於珠海書院文學研究所畢業獲頒授文學碩士學位。
                    </p>
                    <p class="fs-3 mb-2">
                        2008年蒙香港觀宗寺法主和尚覺光長老傳法為天台宗第四十七代嗣法門人。法師一直從事講經弘法及教育工作，現任會屬佛教黃鳳翎中學、佛教中華康山學校、佛教黃焯菴小學、佛教慈敬學校、佛教真如幼稚園(東涌)等多間會屬佛教中、小、幼學校校監及校董。教學之餘，法師肩負弘揚佛法的工作，經常到海內外講經說法。
                    </p>
                    <p class="fs-3 mb-2">
                        1993年愍生法師圓寂後，法師創建現時位於北角之佛教愍生講堂，一則永懷師恩，二則作為弘揚正信佛教之道場。同年法師接任東涌羅漢寺住持，在法師積極發展下，該寺已是東涌一座佛教勝地及清淨修行的山林道場。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

