
<link href="~/portal/portal.css" rel="stylesheet" />
<style>
    .master-img{
        width:290px;
        height:420px;
    }
    .layui-card{
        border: 1px solid #eee;
    }
</style>
<div class="portal-index-main">
    <h1 class="portal-index-h1">法師簡介</h1>

    <div class="layui-card">
        <div class="layui-card-header portal-index-h2">愍生法師</div>
        <div class="layui-card-body">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md6">
                    <p class="portal-index-p">
                        愍生法師（1926-1993）於1948年前往廣東韶關南華寺，依虛雲老和尚座下受具足戒，圓戒後到大嶼山潛修。後來因在山上生病，時任東蓮覺苑苑長林楞真居士派人接法師入醫院治療。病癒後，法師有感林居士厚遇之恩，發願終生服務東蓮覺苑，弘揚佛法。
                    </p>
                    <p class="portal-index-p">
                        1951年，法師駐錫東蓮覺苑，接任第三任苑長，兼任寶覺佛教書院院長。1979年起任寶覺女子中、小學、分校校監。除主理苑務及校務外，法師不辭勞苦為發展香港及海外佛教事業竭盡所能，一生致力辦學興校，培植人才，教育弘法，貢獻良多。
                    </p>
                    <p class="portal-index-p">
                        愍生法師弘法四十餘年，辯才無礙，音聲清雅，吐納文采，聞法者無不歡喜讚嘆，信受奉行。法師所講之經典無數，尤其精於《大佛頂首楞嚴經》、《妙法蓮華經》。
                    </p>
                    <p class="portal-index-p">
                        1985年，法師因腎功能衰竭，入院治療。她愍念眾生，因宏大願力所感，終於轉危為安，並抱病弘法，講經不輟，達八年之久。除了如常主理苑務、校務，弘法利生未嘗間斷，亦堅持每日定時念佛經行，以作為自行化他的資糧。其上求下化、為教為人之精神，堪作後學典範。
                    </p>
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md6">
                    <img class="master-img" src="~/portal/images/master_mansang.jpg" />
                </div>
            </div>
        </div>
    </div>

    <div class="layui-card">
        <div class="layui-card-header portal-index-h2">演慈法師</div>
        <div class="layui-card-body">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md6">
                    <p class="portal-index-p">
                        演慈法師歷任香港佛教聯合會第三十六屆董事會至第五十六屆董事會董事、常務董事等職，自第五十七屆起擔任此會秘書長至今。法師生於馬來西亞，早年親近佛教高僧竺摩長老，為馬來西亞佛學院第一屆深造班畢業生，曾在佛學院任教兩年，其後來港追隨佛教大德愍生法師研習經教，並依止愍生法師座下出家，曾任中學教師，於珠海書院文學研究所畢業獲頒授文學碩士學位。
                    </p>
                    <p class="portal-index-p">
                        2008年蒙香港觀宗寺法主和尚覺光長老傳法為天台宗第四十七代嗣法門人。法師一直從事講經弘法及教育工作，現任會屬佛教黃鳳翎中學、佛教中華康山學校、佛教黃焯菴小學、佛教慈敬學校、佛教真如幼稚園(東涌)等多間會屬佛教中、小、幼學校校監及校董。教學之餘，法師肩負弘揚佛法的工作，經常到海內外講經說法。
                    </p>
                    <p class="portal-index-p">
                        1993年愍生法師圓寂後，法師創建現時位於北角之佛教愍生講堂，一則永懷師恩，二則作為弘揚正信佛教之道場。同年法師接任東涌羅漢寺住持，在法師積極發展下，該寺已是東涌一座佛教勝地及清淨修行的山林道場。
                    </p>
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md6">
                    <img class="master-img" src="~/portal/images/yantsz.jpg" />
                </div>
            </div>
            
        </div>
    </div>

    <div class="layui-card">
        <div class="layui-card-header portal-index-h2">悟藏法師</div>
        <div class="layui-card-body">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md6">
                    <p class="portal-index-p">
                        悟藏法師於2010年加入香港佛教聯合會第五十六屆董事會，歷任董事至今。法師早年就讀於台灣佛光山叢林學院，曾親近愍生法師研習經教。
                    </p>
                    <p class="portal-index-p">
                        2008年蒙香港觀宗寺法主和尚覺光長老傳法為天台宗第四十七代嗣法門人。法師現任東涌羅漢寺及佛教愍生講堂監院等職，並兼任會屬佛教葉紀南紀念中學、佛教林炳炎紀念學校、佛教林金殿紀念小學、佛教陳榮根紀念學校、佛教金麗幼稚園、佛教傅康幼稚園以及佛教真如幼稚園(東涌)校董等職。
                    </p>
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md6">
                    <img class="master-img" src="~/portal/images/ngzang.jpg" />
                </div>
            </div>

        </div>
    </div>
</div>