html,body {
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.portal-body {
    position:relative;
    min-height:100%;
    
}

.layui-header .layui-logo {
    position: absolute;
    width: 140px;
    text-align: center;
    line-height: 60px;
    left:5px;
    /* box-shadow:none; */
}

    .layui-header .layui-logo img {
        top:25px;
        height:25px;
    }

.portal-main {
    padding: 10px;
    padding-bottom: 65px;
}

.portal-footer {
    position:absolute;
    bottom:0px;
    left:0px;
    right:0px;
    height:60px;
    text-align:center;
    line-height:60px;
    
}

.more-line-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
}

img {
    max-width: 100%;
    max-height: 100%;
}
