@model BMSHMedia.ViewModel.SRSVMs.SRSOpenAPIVM
@{
    string playUrl = Model.GetPlayUrl();
}

<script src="~/portal/mpegts.js"></script>

<div style="margin:auto;text-align:center;">
    <video id="livePlayer" controls width="350" height="600"></video>
</div>

<script>
    (function () {
        if (!mpegts.isSupported()) {
            console.log("mpegts no support.");
            return;
        }

        if (mpegts.getFeatureList().mseLivePlayback) {
            var videoElement = document.getElementById('livePlayer');
            var player = mpegts.createPlayer({
                type: 'mse',  // could also be mpegts, m2ts, flv
                isLive: true,
                url: '@playUrl'
            });
            player.attachMediaElement(videoElement);
            player.load();
            player.play();
        }
    })();
</script>

