
@model BMSHMedia.ViewModel._Admin.FrameworkUserVMs.FrameworkUserBatchVM
@using WalkingTec.Mvvm.Core.Extensions;
@inject IStringLocalizer<Program> Localizer;

<wt:form vm="@Model" url="/_Admin/FrameworkUser/DoBatchEdit?1=1">
  <div style="margin-bottom:10px;"> "@Localizer["Sys.BatchEditConfirm"].Value"</div>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:textbox field="LinkedVM.Email"/>
    <wt:combobox field="LinkedVM.Gender" id="gf43e7d516ed149fa85cd38744c8be0ab"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:textbox field="LinkedVM.CellPhone"/>
    <wt:textbox field="LinkedVM.HomePhone"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:textbox field="LinkedVM.Address"/>
    <wt:textbox field="LinkedVM.ZipCode"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:combobox field="LinkedVM.SelectedFrameworkUserRolesIDs"  item-url="/_Admin/FrameworkUser/GetFrameworkRoles" id="gba2066710e78423c951da3800012472f" multi-select="true"/>
    <wt:combobox field="LinkedVM.SelectedFrameworkUserGroupsIDs"  item-url="/_Admin/FrameworkUser/GetFrameworkGroups" id="ge824c4ee9b614347bb270a5f3912bd82" multi-select="true"/>
  </wt:row>

  <wt:container align="AlignEnum.Right">
    <wt:submitbutton  text="@Localizer["Sys.Submit"].Value"/>
    <wt:closebutton  text="@Localizer["Sys.Close"].Value"/>
  </wt:container>

  <wt:hidden field="Ids" />
  <wt:grid vm="ListVM" use-local-data="true" height="300" hidden-checkbox="true" hidden-panel="true" />
</wt:form>


